{% extends "users/user_base.html" %}
{% load static %}

{% block mobileView %}
<meta name="viewport" content="width=570, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row justify-content-md-center">
        <div style="position: absolute; top: 50%; height: 778.98px; margin-top: -389.49px;">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'users/img/logo2.jpg' %}"
                             style="width: 30%; margin-top:10px; margin-bottom: -30px;">
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <p style="font-weight: bold;"><i class="fas fa-check"></i> 이용약관</p>
                            <div class="z-depth-1"
                                 style="font-size: 13px; background-color: white; border:1px solid #ddd; height:195px;overflow:auto;padding:5px;">
                                <dl>Pit A Pat과 함께 하시겠습니까?
                                </dl>
                            </div>
                            <form action="" , method="POST">
                                {% csrf_token %}
                                <div class="col-12 text-right">
                                    <label style="padding-top: 10px;">
                                        <input type="checkbox" name="agreement1"/>
                                        <span style="font-weight: bold;">이용약관에 동의합니다.</span>
                                    </label>
                                    <!-- <strong><input type="checkbox" name="agreement1"> 이용약관에 동의합니다.</strong> -->
                                </div>
                                <br>
                                <p style="font-weight: bold;"><i class="fas fa-check"></i> 개인정보 수집 및 이용</p>
                                <div class="z-depth-1"
                                     style="font-size: 13px; background-color: white; border:1px solid #ddd; height:195px;overflow:auto;padding:5px;">
                                    <dl>핏어팻과 함께하는 동안 개인정보를 수집 및 이용합니다.
                                    </dl>
                                </div>
                                <div class="col-12 text-right">
                                    <label style="padding-top: 10px;">
                                        <input type="checkbox" name="agreement2"/>
                                        <span style="font-weight: bold;">개인정보 수집 및 이용에 동의합니다.</span>
                                    </label>
                                    <!-- <strong><input type="checkbox" name="agreement2"> 개인정보 수집 및 이용에 동의합니다.</strong> -->
                                </div>


                                <div class="col-12 text-center">
                                    <button type="submit" name="register" style="opacity: 90%; font-size: 16px;"
                                            class="btn btn-purple" value="register">회원가입
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}